APP_NAME=7agty
APP_ENV=production
APP_KEY=base64:REPLACE_WITH_NEW_APP_KEY
APP_DEBUG=false
APP_URL=https://YOUR_RENDER_SERVICE.onrender.com

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=ep-delicate-frog-abfsr7wr-pooler.eu-west-2.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=YOUR_NEON_PASSWORD
DB_SSLMODE=require

CACHE_STORE=database
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CORS_ALLOWED_ORIGINS=https://7agty.vercel.app
FRONTEND_URL=https://7agty.vercel.app
SANCTUM_STATEFUL_DOMAINS=7agty.vercel.app

MAIL_MAILER=log
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME=7agty
